.contacts-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100dvh - 25.5rem);

    &--is-scrolling {
        height: calc(100dvh - 15.5rem);
    }

    &__title {
        font-size: 2.5rem;
        text-align: center;
        margin-block: 10rem 2rem;

        @media screen and (min-width: 1024px) {
            font-size: 3rem;
            margin-block: 5rem 2rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        ::-webkit-scrollbar {
            display: none;
        }

        .badge-base .LI-profile-badge {
            width: 14rem;
        }

        &__email {
            font-size: 3rem;
        }
    }
}
