.header {
    position: relative;
    display: flex;

    &__picture-section {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 0.4rem solid white;

        &__video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &__picture {
            position: relative;
            top: 50%;
            height: 15rem;
            width: 15rem;
            filter: drop-shadow(0 0 0.5rem black);

            img {
                border-radius: 50%;
                object-fit: cover;
                z-index: 1;
                border-bottom: 0.4rem solid white;
            }
        }

        &__title {
            position: absolute;
            top: 25%;
            text-align: center;
            font-size: 2rem;

            @media screen and (min-width: 1024px) {
                top: 100%;
                text-wrap: wrap;
                font-size: 3rem;
                margin-left: 4rem;
                left: 0;
            }
        }

        &__job {
            position: absolute;
            text-align: center;
            bottom: -100%;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 1024px) {
                top: 100%;
                font-size: 2rem;
                margin-right: 4rem;
                right: 0;
                line-height: normal;
            }

            &__title {
            }

            &__period {
                font-style: italic;
                font-size: 1.2rem;
                line-height: normal;
                width: 30rem;
            }
        }
    }
}
