.projects-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100dvh - 25.5rem);

    &__title {
        font-size: 2.5rem;
        text-align: center;
        margin-block: 10rem 2rem;

        @media screen and (min-width: 1024px) {
            font-size: 3rem;
            margin-block: 5rem 2rem;
        }
    }

    &__badges {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-block-end: 2rem;

        @media screen and (min-width: 1024px) {
            justify-content: center;
            column-gap: 2rem;
        }

        &__badge {
            font-size: 1.5rem;
            padding: 0.5rem 1.5rem;
            border: 0.2rem solid blue;
            border-radius: 5rem;

            &--selected {
                transition: background-color ease-in-out 0.5s,
                    border-color ease-in-out 0.5s;

                background: rgba(0, 0, 255, 0.267);
                border: 0.2rem solid lightblue;
            }
        }
    }

    &__content {
        overflow: scroll;

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        ::-webkit-scrollbar {
            display: none;
        }

        &__title {
            font-size: 2rem;
            text-align: center;
            margin-block-end: 5rem;
        }

        &__cards {
            height: 100%;
            justify-content: center;
            display: flex;

            flex-wrap: wrap;
            gap: 2rem;
        }
    }
}
