.home-view {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &__picture-section {
        position: relative;
        width: 100%; // Set back to full width
        display: flex;
        justify-content: center; // Center the picture horizontally

        &__video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &__picture {
            position: relative;
            height: 40rem;
            width: 40rem;

            img {
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .infos-container {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100%;
        scroll-behavior: smooth;

        -ms-overflow-style: none;
        scrollbar-width: none;

        ::-webkit-scrollbar {
            display: none;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            scroll-snap-align: start;
            min-height: 100%;
            width: 80%;
            padding: 1rem 0;
        }
    }
}
