.home-view {
    display: flex;
    flex-direction: column;

    .infos-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &__snapscroll {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            scroll-snap-align: start;
            scroll-snap-stop: always;
            row-gap: 4rem;

            &__title {
                font-size: 4rem;
            }

            &__content {
                font-size: 3rem;

                span {
                    background: linear-gradient(
                        90deg,
                        rgba(2, 0, 36, 1) 0%,
                        rgba(9, 9, 121, 1) 35%,
                        rgba(0, 212, 255, 1) 100%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}
