.header {
    position: relative;
    display: flex;
    padding-bottom: 10rem;

    &__is-scrolling {
        padding-bottom: 0;

        @media screen and (min-width: 1024px) {
            padding-bottom: 5rem;
        }
    }

    @media screen and (min-width: 1024px) {
        padding-bottom: 5rem;
    }

    &__picture-section {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 0.4rem solid white;

        &__video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &__picture {
            position: relative;
            top: 50%;
            height: 15rem;
            width: 15rem;

            img {
                border-radius: 50%;
                object-fit: cover;
                z-index: 1;
                border-bottom: 0.4rem solid white;
            }
        }

        &__title {
            position: absolute;
            top: 25%;
            text-align: center;
            font-size: 2rem;

            @media screen and (min-width: 1024px) {
                top: 105%;
                text-wrap: wrap;
                font-size: 3.5rem;
                margin-left: 4rem;
                left: 8%;
            }
        }

        &__job {
            position: absolute;
            text-align: center;
            bottom: -110%;
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            margin-block-start: 0.3rem;

            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

            .header__is-scrolling & {
                opacity: 0;
                transform: translateY(-10rem);
            }

            @media screen and (min-width: 1024px) {
                top: 105%;
                font-size: 2.2rem;
                margin-right: 4rem;
                right: 8%;
                line-height: normal;

                .header__is-scrolling & {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            &__period {
                font-style: italic;
                font-size: 1.2rem;
                line-height: normal;
                width: 30rem;
                border-bottom: 0.2rem solid white;
                padding-block-end: 0.5rem;

                @media screen and (min-width: 1024px) {
                    font-style: italic;
                    line-height: normal;
                    width: 30rem;
                    border-bottom: none;
                }
            }
        }
    }
}
